PATIENTS

<div>
  <!-- routerLink="add" -->
  Header: <a href="#">Add new</a>
</div>
<main>
<div>
  <label for="filter">Filter</label>
  <select name="idk" id=""></select>
  <input class="input-group mb-3" type="text" id="filter" name="filter">
  <button class="btn btn-secondary">Search</button>

</div>
  <table class="table">
        <thead class="thead-dark">
          <th>Name</th>
          <th>Type</th>
          <th>Contact</th>
          <th>Address</th>
          <th>Actions</th>
        </thead>
    <tbody>
        <!-- <tr div *ngFor="let org of organizationsList">
          <td>{{org.name}}</td>
          <td>{{org.organizationType.name}}</td>
          <td>{{org.email}}</td>
          <td>{{org.address}}</td>
          <td>
            <button class="btn btn-primary">Details</button>
            <button class="btn btn-secondary">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </td>
        </tr> -->
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

</main>

