
<main class="container">
<h2>Patient {{patient?.firstname}} {{patient?.lastname}}</h2>

<div class="table">
  <table class="table-responsive-lg">

      <tr><th>Code</th> <td>{{patient?.patientCode}}</td></tr>
      <tr><th>Organization</th> <td>{{patient?.organization?.name}}</td></tr>
      <tr><th>Address</th>  <td>{{patient?.address}}</td></tr>
      <tr><th>Phone</th> <td>{{patient?.phone}}</td></tr>
      <tr><th>E-mail</th>  <td>{{patient?.email}}</td></tr>
      <tr><th>Birth Date</th>  <td>{{patient?.birthDate | date}}</td></tr>
      <tr><th>Gender</th>  <td>{{patient?.gender?.genderName}}</td></tr>
      <tr><th>Marital status</th>  <td>{{patient?.maritalStatus}}</td></tr>
      <tr><th>Main practitioner</th>  <td>{{patient?.mainMedic?.firstname}} {{patient?.mainMedic?.lastname}}</td></tr>
      <tr><th>Actions</th> <td><button class="btn btn-primary" (click)="editPatient(patient)">Edit</button><button class="btn btn-danger" (click)="deletePatient(patient)" >Delete</button></td></tr>
      <!-- <tr><th>Patients</th> <td><button class="btn btn-primary">Patients</button></td></tr> -->
      <tr><th>Examinations</th> <td><button class="btn btn-primary">Examinations</button></td></tr>

    <tr>
    </tr>
  </table>
</div>
</main>
