<nav class="navbar navbar-light bg-light">
  <!--There is no direct link to Examinations because they are related to other entities-->
  <a routerLink="home"><img src="assets\img\MedicalEngineering-logo.png" alt="medical-engineering-logo" height="80em" width="120em"></a>
  <a class="" routerLink="home">Home</a>
  <a routerLink="organizations/organizations">Organizations</a>
  <a routerLink="practitioners/practitioners">Practitioners</a>
  <a routerLink="patients/patients">Patients</a>
  <a routerLink="examinations/examinations">Examinations</a>
  <p> </p>
</nav>

