PRACTITIONERS

<div>
  <!-- routerLink="add" -->
  Header: <a routerLink="./../practitioner-add">Add new</a>
</div>
<main>
<div>
  <label for="filter">Filter</label>
  <select name="idk" id=""></select>
  <input class="input-group mb-3" type="text" id="filter" name="filter">
  <button class="btn btn-secondary">Search</button>

</div>
  <table class="table">
        <thead class="thead-dark">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Title</th>
          <th>Contact</th>
          <th>Address</th>
          <th>Actions</th>
        </thead>
    <tbody>
        <tr div *ngFor="let med of medicsList">
          <td>{{med.firstname}}</td>
          <td>{{med.lastname}}</td>
          <td>{{med.qualification}}</td>
          <td>{{med.email}}</td>
          <td>{{med.address}}</td>
          <td>
            <button class="btn btn-primary" (click)="medicDetails(med)">Details</button>
            <button class="btn btn-secondary" (click)="editMedic(med)">Edit</button>
            <button class="btn btn-danger" (click)="deleteMedic(med)">Delete</button>
          </td>
        </tr>
    </tbody>
  </table>

  <ngb-pagination
  [(page)]="pageNo"
  [pageSize]="pageSize"
  [boundaryLinks]="true"
  [collectionSize]="totalItems"
  (pageChange)="onPageChange(pageNo)"
  >
  </ngb-pagination>

</main>

