EXAMINATIONS

<div>
  <!-- routerLink="add" -->
  Header: <a routerLink="./../examination-add">Add new</a>
</div>
<main>
<div>
  <label for="filter">Filter</label>
  <select name="idk" id=""></select>
  <input class="input-group mb-3" type="text" id="filter" name="filter">
  <button class="btn btn-secondary">Search</button>

</div>
  <table class="table">
        <thead class="thead-dark">
          <th>Code</th>
          <th>Status</th>
          <th>Service type</th>
          <th>Priority</th>
          <th>Organization</th>
          <th>Actions</th>
        </thead>
    <tbody>
        <tr div *ngFor="let exam of examinationsList">
          <td>{{exam.examinationCode}}</td>
          <td>{{exam.status}}</td>
          <td>{{exam.serviceType?.serviceName}}</td>
          <td>{{exam.priority}}</td>
          <td>{{exam.organization?.name}}</td>
          <td>
            <button class="btn btn-primary" (click)="examDetails(exam)">Details</button>
            <button class="btn btn-secondary" (click)="editExamination(exam)">Edit</button>
            <button class="btn btn-danger" (click)="deleteExamination(exam.examinationId)">Delete</button>
          </td>
        </tr>
    </tbody>
  </table>

  <ngb-pagination
  [(page)]="pageNo"
  [pageSize]="pageSize"
  [boundaryLinks]="true"
  [collectionSize]="totalItems"
  (pageChange)="onPageChange(pageNo)"
  >
  </ngb-pagination>

</main>
