.main-container{
  display: grid;
  justify-content: stretch;

  grid-template-areas:
    "div div"
    "div div";
  /* grid-template-rows: 50vw, 50vw;
  grid-template-columns: 30vh; */
  /* grid-template: "div, div"; */
}

.main-container div{
  height: 40vh;
  /* width: auto; */
  margin: 5px;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 10px;

}

.main-container :hover{
  border: none;
  cursor: pointer;
}

.main-container div p{
  vertical-align: middle;
}

#organizations{
  background-color: rgb(233, 91, 35);
}

#medics{
  background-color: rgb(0, 192, 226);
}

#patients{
  background-color: rgb(224, 209, 0);
}

#examinations{
  background-color: rgb(34, 136, 34);
}
